@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono&family=Oswald:wght@200&display=swap');

:root{
  --btn-color1: #6680ff;
  --nav-color1: #171f8a;

  /*--nav-color2: #2a4d69;
  --btn-color2: #4b86b4;
  --list-items: #adcbe3;      this is blue scheme
  --right-container: #e7eff6;
  --body-color: #63ace5;*/

  /*--nav-color2: #3d2352;
  --btn-color2:  #3d1e6d;
  --list-items: #e4dcf1;  purple scheme
  --right-container: white;
  --mobile-nav1: #8874a3;*/

  --nav-color2: #78a6c8;
  --btn-color2:  #326789;
  --list-items: #e9eef2;
  --right-container: transparent;
}


body{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: "Chivo Mono";
  background-color: ghostwhite;
  
}
body::-webkit-scrollbar{
  width: 0;
  display: none;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/*landing page styling*/

.login-register-box{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.registration-form-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}



.registration-left-container{
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 30%;
  flex-direction: column;
}

.registraion-right-container h1{
  font-weight:  500; 
  padding-left: 0.5rem;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.25rem;
}

.registraion-right-container p{
  font-weight:  500; 
  padding-left: 0.5rem;
  font-size: 1.25rem;
}

.registraion-right-container{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  height: 100%;
  width: 70%;
}

.registration-form-container form div{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
  width: 100%;
}

.registration-form-container form div input:focus{
  border-bottom:  solid 3px var(--btn-color2); 
  outline: 0; 
  box-shadow:  0 2px 6px -8px rgba(var(--btn-color2), .45);
}

.registration-form-container form div input::placeholder{
  font-family: "Chivo Mono";
  font-weight:  500; 
  font-size: 0.75rem;
}

.registration-form-container form div input{
  font-family: "Chivo Mono";
  font-size:  1rem; 
  padding:  1rem; 
  height:  56px; 
  border:  none; 
  border-bottom:  solid 1px rgba(0,0,0,.1); 
  width:  100%; 
  box-sizing:  border-box; 
  transition:  all .1s linear; 
  color:  #000; 
  font-weight:  400; 
  border-radius: 10px;
  background-color: transparent;
}

button{
  cursor: pointer;
  font-family: "Chivo Mono";
  width:  100%;
  text-align:  center; 
  padding:  15px 40px;
  margin:  5px; 
  background-color:  var(--btn-color2); 
  color:  white; 
  font-size:  0.75rem;
  font-weight:  500; 
  box-shadow:  0px 2px 6px -1px rgba(0,0,0,.13); 
  border:  none;
  transition:  all .3s ease; 
  outline: 0; 
  border-radius: 5px;
}

button:hover{
  transform:  translateY(-3px);
  box-shadow:  0 2px 6px -1px rgba(var(--btn-color2), .65);
}

button:active{
  transform:  scale(.99);
}

.registration-form-container form{
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}

.login-register-container{
    padding: 0.5rem;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 35%;
    background-color: var(--list-items);
}


.check-buttons div{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
}

.check-buttons{
    margin-bottom: 1rem;
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.login-main-section{
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media screen and (max-width: 1100px){

  .registraion-right-container h1{
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 0.75rem;
  }
  
  .registraion-right-container p{
    padding: 0;
    font-size: 0.75rem;
  }

  .registration-form-container form div{
    font-size: 0.75rem;
    gap: 0;
  }

  button{
    font-size: 0.75rem;
  }
  .registration-form-container form div input::placeholder{
    font-weight:  500; 
    font-size: 0.75rem;
  }

  .login-register-container {
    padding: 0;
    margin: 0;
    width: 90%;
  }

  .registration-form-container form div input{
    font-size: 0.75rem;
    padding: 0.25rem;
    height: auto;
  }

  
}


.expense-income-section{
  height: 100vh;
display: flex;
}

.main-expense-container{
  background-color: var(--right-container);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.expense-left-section form div label{
  font-size: 1.3rem;
  width: 30%;
}

.expense-left-section form div select{
  font-size: 1.3rem;
  width: 70%;
}

.expense-left-section form div input:focus{
  border-bottom:  solid 3px var(--btn-color2); 
  outline: 0; 
  box-shadow:  0 2px 6px -8px rgba(var(--btn-color2), .45);
}


.expense-left-section form div input{
  padding: 0.5rem;
  font-size: 1.3rem;
  width: 70%;
  font-family: "Chivo Mono";
  border:  none; 
  border-bottom:  solid 1px rgba(0,0,0,.1); 
  box-sizing:  border-box; 
  transition:  all .1s linear; 
  color:  #000; 
  font-weight:  400; 
  border-radius: 10px;
  background-color: transparent;
}

.expense-left-section form div input::placeholder{
  opacity: 0.5;
  color: black;
  font-size: 1.3rem;
}

.expense-left-section form div{
  gap: 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-expense-btn:hover{
 background-color: rgb(255, 48, 48);
}

.expense-left-section form{
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 2rem;
}

.expense-left-section form select{
  border-radius: 5px;
  font-weight: bold;
  padding: 0.5rem;
  font-size: 1rem;
}

.expense-left-section{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 35%;
  height: 100%;
}

.expense-right-section{
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 65%;
}

.expense-right-section p{
  text-align: center;
  width: 100%;
  height: 90%;
  font-size: 1.3rem;
}

.expense-list-array{
  height: 90%;
  margin-top: 2rem;
  padding: 0;
  list-style-type: none;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  overflow: auto;
}

.expense-list-array::-webkit-scrollbar{
  height: 0;
  width: 0;
display: none;
}

.total-expense-details{
  width: 70%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
}

.total-expense-details h2{
  cursor: pointer;
  margin: 0;
}

.delete-all-btn button:hover{
 background-color: red;
}

.delete-all-btn{
  display: flex;
  justify-content: center;
  align-items: center;
}

.expense-list-li{
 padding: 0.5rem;
 border-radius: 5px;
 width: 85%;
 display: flex;
 justify-content: flex-start;
 align-items: center;
 background-color: var(--list-items);
 gap: 1rem;
 box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.expense-income-icon{
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  width: 10%;
}

.expense-income-icon svg:hover{
  background-color: black;
  color: white;
}

.expense-income-icon svg{
  box-sizing: border-box;
  cursor: pointer;
  padding: 0.75rem;
  height: 40%;
  width: 40%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 50%;
  background-color: white;
  transition: 0.4s;
}

.expense-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.expense-details{
  width: 90%;
  gap: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.expense-title{
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-weight: bold;
}

.other-details{
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  opacity: 0.6;
}

.other-details div{
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 8px;
}

.delete-item svg:hover{
  color: red;
  transform: scale(0.9);
}

.delete-item svg{
  transition: 0.1s;
  width: 30%;
  height: 30%;
}

.delete-item{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  font-size: 1.5rem;
}

@media screen and (max-width: 1100px){
  .expense-income-section{
   height: 100vh;
   flex-direction: column;
  }

  .main-expense-container{
    margin: 0;
    margin-top: 5rem;
    height: 100%;
    flex-direction: column;
  }

  .expense-left-section{
    width: 100%;
  }

  .expense-right-section{
    width: 100%;
    gap: 1.5rem;
  }

  .expense-left-section form{
    align-items: center;
  }

  .expense-list-array{
    width: 90%;
    height: auto;
  }

  .expense-list-li{
    width: 85%;
  }

  .total-expense-details h2{
    font-size: 1rem;
  }

  .total-expense-details{
    flex-direction: column;
    justify-content: center;
    height: auto;
    width: 80%;
  }

  .expense-right-section p{
    height: auto;
  }

  .expense-title{
    font-size: 0.75rem;
  }

  .other-details{
    gap: 0.75rem;
    font-size: 0.75rem;
  }

  .delete-item{
    font-size: 1rem;
  }

  .expense-left-section form div input::placeholder{
    font-size: 1rem;
  }

  .expense-left-section form div input{
    font-size: 1rem;
  }

  .expense-left-section form div label{
    font-size: 1rem;
  }

  .expense-left-section form div{
    justify-content: center;
  }

  .expense-income-icon{
    font-size: 2rem;
    width: 10%;
  }

  .expense-details{
    gap: 0.5rem;
  }

  .expense-left-section form div select{
    font-size: 1rem;
  }

  .expense-income-icon svg{
    padding: 0.5rem;
  }

  .delete-item svg{
    width: 45%;
    height: 45%;
  }
  
  .delete-item svg:hover{
    color: none;
  }

  .delete-item svg:active{
    color: red;
    transform: scale(0.9);
  }
}



/* Navbar styling*/

.main-navbar-section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 20%;
}



.nav-links a{
  font-size: 1.2rem;
  width: 100%;
  text-decoration: none;
}



.nav-links{
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 2rem;
  
}

.navbar-container{
  background-color: var(--nav-color2);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.user-details{
  margin-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.user-image img:hover{
  transition: 0.3s;
  transform: scale(1.1);
}

.user-image{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.user-name h1:hover{
  cursor: pointer;
  color: white;
  transition: 0.3s;
}

.user-name p:hover{
  cursor: pointer;
  color: white;
  transition: 0.3s;
}

.user-name p{
  margin: 0;
  padding: 0;
  font-size: 0.75rem;
  font-weight: bold;
}

.user-name h1{
  font-size: auto;
  margin: 0;
  padding: 0;
}

.user-name{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.5rem;
}

.hamburger-menu{
  display: none;
}

.sign-out-btn{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-out-btn a{
 text-decoration: none;
}

@media screen and (max-width: 1100px){
  .main-navbar-section{
    padding: 0;
    z-index: 999;
    position: fixed;
    width: 100%;
    height: auto;
  }
  .navbar-container{
    flex-direction: row;
  }
  .nav-links a{
    padding-left: 50%;
    text-align: left;
  }
  .nav-links{
    align-items: center;
    width: 100%;
    top: 0;
    left: -100%;
    z-index: -3;
    position: absolute;
    height: 100vh;
    gap: 2rem;
    background-color: #b9e3ff;
    transition: 0.5s;
  }

  .nav-links.active{
    left: 0;
  }

  .sign-out-btn.active{
    left: 0;
  }
  
  .sign-out-btn{
    align-items: flex-start;
    width: 100%;
    top: 1100%;
    left: -100%;
    z-index: -3;
    position: absolute;
    height: 100vh;
    transition: 0.5s;
  }
  

  .user-details{
    gap: 0.75rem;
    margin: 1rem;
    justify-content: flex-start;
  }
  .hamburger-menu{
    margin: 1rem;
    display: initial;
  }

  .user-image img{
    width: 30px;
    height: 30px;
  }
  .user-name p{
    font-size: 1rem;
  }
  .user-name h1{
    font-size: 1rem;
  }
}

.add-income-btn:hover{
  background-color: rgb(0, 153, 0);
}

/*expenses-income styling ends here*/

/*dashboard styling starts here*/

.main-dashboard-section{
  display: flex;
  height: 100vh;
}

.main-dashboard-container{
  background-color: var(--right-container);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.dashboard-heading{
 display: flex;
 width: 80%;
 justify-content: flex-start;
 align-items: center;
}

.dashboard-heading h1{
  margin: 0;
}

.dashboard-main-content{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-left-section{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}

.net-income h3{
  margin: 0;
  font-size: 1.5rem;
  opacity: 0.6;
}

.net-income h1{
  margin: 0;
 font-weight: bold;
 font-size: 2rem;
}

.net-income{
  cursor: pointer;
  transition: 0.4s;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  width: 80%;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.net-income:hover{
  transform: translateY(-4px);
} 

.net-income-left{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.5rem;
}

.net-income-right{
  box-sizing: border-box;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.total-content{
 width: 80%;
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 1rem;
}

.total-db-expense-income{
  cursor: pointer;
  transition: 0.4s;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  gap: 1rem;
  padding: 0.3rem;
}


.total-db-expense-income:hover{
  transform: translateY(-4px);
}

.db-expense-income-details{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  gap: 0.5rem;
}

.db-expense-income-details h3{
margin: 0;
} 

.recent-history{
  gap: 1rem;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.recent-heading{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recent-heading h3{
  margin: 0;
}

.seperator{
  width: 100%;
  border: 1px solid black;
  opacity: 0.2;
}

.history-list-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.history-list{
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.history-item-li{
  cursor: pointer;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.cat-icon-history{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 10%;
}

.cat-icon-history svg{
  cursor: pointer;
  width: 70%;
  height: 70%;
}

.history-details{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 90%;
}

.title-date-details{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.5rem;
}

.dashboard-right-section{
  gap: 1rem;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.expense-graph-container{
  gap: 0.25rem;
  height: 40%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 80%;
}

.graph-heading{
  height: 8%;
  cursor: pointer;
  width: 100%;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-graph-container{
  height: 92%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-graph-container div{
  cursor: pointer;
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 1100px){
  .main-dashboard-section{
    flex-direction: column;
  }

  .main-dashboard-container{
    margin: 0;
    margin-top: 7rem;
    height: auto;
    flex-direction: column;
  }

  .dashboard-main-content{
    gap: 2rem;
    height: auto;
    flex-direction: column;
  }

  .dashboard-left-section{
    align-items: center;
    height: auto;
    width: 100%;
    gap: 2.5rem;
  }

  .dashboard-right-section{
    height: auto;
    width: 100%;
  }

  .dashboard-heading{
    justify-content: center;
  }

  .db-expense-income-details{
    font-size: 0.75rem;
  }

  .db-expense-income-details svg{
    width: 11px;
    height: 11px;
  }

  .total-db-expense-income img{
   height: 30px;
   width: 30px;
  }

  

  .total-db-expense-income{
    padding: 0.5rem;
  }

  .net-income-left h1{
    font-size: 1rem;
  }

  .net-income-left svg{
    height: 13px;
    width: 13px;
  }

  .net-income-left h3{
    font-size: 1rem;
  }

  .net-income-right img{
   width: 30px;
   height: 30px;
  }

  .recent-heading h3{
   font-size: 0.75rem;
  }

  .expense-graph-container{
    height: auto;
  }

  .graph-heading{
    height: auto;
  }

  .graph-heading h3{
    font-size: 0.75rem;
  }

  .main-graph-container{
    height: auto;
  }

  .title-date-details{
    font-size: 0.75rem;
  }
}

/*dashboard styling ends here*/


/*transactions page styling starts here*/
.main-transactions-section{
  display: flex;
  height: 100vh;
}

.main-transaction-container{
  background-color: var(--right-container);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.debit-container{
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.credit-container{
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

table{
  border-radius: 5px;
  width:100%;
  table-layout: fixed;
}
.tbl-header{
  cursor: pointer;
  border-radius: 5px 5px 0 0;
  width: 90%;
  background-color: var(--btn-color2);
 }
.tbl-content{
  height: auto;
  cursor: pointer;
  width: 90%;
  max-height: 80%;
  overflow-x: auto;
  margin-top: 0px;
  border-bottom: 1px solid var(--btn-color2);
  border-radius: 0 0 5px 5px;
}
th{
  cursor: pointer;
  padding: 20px 15px;
  text-align: left;
  font-size: 0.75rem;
  color: white;
  
}
td{
  cursor: pointer;
  text-transform: uppercase;
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-size: 0.75rem;
  color: black;
}

tr:hover td {
  background:#bdbdbd;
  color:#FFFFFF;
}

tr:nth-child(odd) td {
  background:#EBEBEB;
}
 
tr:nth-child(odd):hover td {
  background:#bdbdbd;
}

.tbl-content::-webkit-scrollbar{
  width: 6px;
}

.tbl-content::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}

.tbl-content::-webkit-scrollbar-thumb{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}

@media screen and (max-width: 1100px){
  .main-transaction-container{
    margin: 0;
    margin-top: 5rem;
    flex-direction: column;
  }

  .debit-container{
    height: 50%;
    width: 100%;
  }

  .credit-container{
    height: 50%;
    width: 100%;
  }
  
  .tbl-content{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }

  .tbl-header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }

  th{
    font-size: 0.5rem;
    padding: 1rem;
  }
  td{
    font-size: 0.5rem;
    padding: 0.5rem;
  }
  
}