.main-overview-container{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.expense-heading{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.transaction-window{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.transaction-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}